<!-- <section> -->
<!-- <div class="container">
    <h1 class="pt-5 fw-3 text-center">Special Services</h1>
    <p class="card">
      Globally known for our ability to handle every last detail of our
      customers’ particular logistics and forwarding needs, TransCargo’s Special
      Services team takes care of all your logistics.
    </p>
  </div> -->

<!-- <body class="pt- justify-content-center">
    <h1 class="pt-5 pb-3 fw-3 text-center">Special Services</h1>
    <div class="slide-container swiper">
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>

        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>
        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>
        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>
        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>
        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>
        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>
        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>
        <div class="card-wrapper swiper-wrapper">
          <div class="card1 swipper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="./freelance.png" alt="#images" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">SERVICE_1</h2>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas deleniti voluptates enim voluptatibus qui, pariatur
                illum facere placeat eius, natus quos est nostrum sunt ipsam
                laborum libero, nam vel! Nisi, quia tenetur!
              </p>

              <button class="btn btn-primary">Read More...</button>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</section> -->

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
