<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
/>
<section class="firstSection">
  <div class="LeftSection">
    <hr />
    <div class="card">
      <h1 class="fh-base">Continental Transportation</h1>
      <br />

      <p>
        To best support your ever-changing logistics needs, we are continuously
        evolving our transportation services.
      </p>
    </div>
  </div>
  <div class="RightSection mt-5">
    <img
      src="https://i.pinimg.com/564x/4d/22/a8/4d22a85689d237715d502013cd9cc5d7.jpg"
      alt="loading image"
      width="750px"
      height="550px"
    />
  </div>
</section>

<section class="info black container">
  <div class="left-side">
    <div class="LeftSection">
      <h1>WELCOME TO OUR</h1>
      <h2 class="fw-bold text-primary">WEBSITE!</h2>
    </div>
    <p class="fs-5 lh-base">
      Transcargo makes business flow. <br /><br />
      As one of the world’s leading non-asset-based supply chain management
      companies, we design and implement industry-leading solutions in both
      freight management. <br />
      <br />
      Over 42,000 dedicated employees, working in 17 regional clusters around
      the globe, deliver operational excellence to provide viable answers to the
      most challenging supply chain questions.
    </p>

    <br />
    <Span style="font-size: 20px" class="fw-bolder">Mehul Nikumbh</Span> <br />
    Chairman & Chief Executive Officer
  </div>

  <div class="right-side">
    <img src="../images/truckhomepage.jpg" alt="loading" />
  </div>

  <!-- 
  <img src="" alt=""> 
image of mehul's signature..-->
</section>

<section>
  <div class="w3-container text-center text-bg-primary p-5">
    <div class="row">
      <div class="col">
        <!-- <i class="fa-solid fa-briefcase p-3"></i> -->
        <img src="images/briefcase.png" alt="#" />
        <span style="font-size: 30px">320</span> <br />Projects Done
      </div>
      <div class="col">
        <i class="stm-clients-worldwide"></i>
        <span style="font-size: 30px">72</span> <br />Clients Worldwide
      </div>
      <div class="col">
        <span style="font-size: 30px">153</span> <br />Owned Vehicles
      </div>
      <div class="col">
        <span style="font-size: 30px">114</span> <br />People in Team
      </div>
    </div>
  </div>
</section>
